<p-toast></p-toast>
<div class="admin-page" *ngIf="order">
  <p-card header="View order" subheader="You can edit order status here">
    <p-fieldset legend="Order Details" styleClass="mb-4" [toggleable]="true">
      <div class="grid">
        <div class="col-4">
          <h5>Order Id</h5>
          <p>{{ order.id }}</p>
        </div>
        <div class="col-4">
          <h5>Order Date</h5>
          <p>{{ order.dateOrdered | date : 'short' }}</p>
        </div>
        <div class="col-4">
          <h5>Order Status</h5>
          <p-dropdown
            optionLabel="name"
            optionValue="id"
            [options]="orderStatues"
            [(ngModel)]="selectedStatus"
            (onChange)="onStatusChange($event)"
          ></p-dropdown>
        </div>
        <div class="col-4">
          <h5>Order Total Price</h5>
          <p>{{ order.totalPrice | currency }}</p>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order Items" styleClass="mb-4" [toggleable]="true">
      <div class="grid mb-5">
        <div class="col-2 font-bold">Name</div>
        <div class="col-2 font-bold">Brand</div>
        <div class="col-2 font-bold">Category</div>
        <div class="col-2 font-bold">Price</div>
        <div class="col-2 font-bold">Quantity</div>
        <div class="col-2 font-bold">Subtotal</div>
      </div>
      <div class="grid mb-5" *ngFor="let item of order.orderItems">
        <div class="col-2">{{ item.product.name }}</div>
        <div class="col-2">{{ item.product.brand }}</div>
        <div class="col-2">{{ item.product?.category?.name }}</div>
        <div class="col-2">{{ item.product.price | currency }}</div>
        <div class="col-2">{{ item.quantity }}</div>
        <div class="col-2">{{ item.product.price * item.quantity | currency }}</div>
      </div>
      <div class="grid" style="color: green">
        <div class="col-2 col-offset-8 font-bold">Total Price</div>
        <div class="col-2 font-bold">{{ order.totalPrice | currency }}</div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order Address" styleClass="mb-4" [toggleable]="true">
      <div class="grid">
        <div class="col-4">
          <h5>Order Address</h5>
          <p>
            {{ order.shippingAddress1 }}<br />
            {{ order.shippingAddress2 }}<br />
            {{ order.zip }} {{ order.city }}<br />
            {{ order.country }}
          </p>
        </div>
        <div class="col-4">
          <h5>Customer Info</h5>
          <p>{{ order.user.name }}</p>
        </div>
        <div class="col-4">
          <h5>Contact Info</h5>
          <p>{{ order.phone }}</p>
        </div>
      </div>
    </p-fieldset>
  </p-card>
</div>
